# script backups
*.bak

# script data
data/

# custom plugins
plugins/*
!plugins/funcmds.js
!plugins/party.js
!plugins/roulette.js
!plugins/rr.js
!plugins/safari.js

# Pokemon Online server and client files
*.dll
*.exe
accessible/
battleserverplugins/
bearer/
clientplugins/
database/
db/
iconengines/
imageformats/
Logs/
logs/
mac-deploy-scripts/
mediaservice/
Music/
platforms/
playlistformats/
qml/
Qt/
serverplugins/
sqldrivers/
Themes/
trans/
usage_stats/
BattleServer
RelayStation
Server
tiers.xml
config
pokemon
languages.txt
members.txt
stdout.txt
unins000.dat
version.ini
